/* variables */

/* desde google font buscamos la fuente y copiamos el codigo para importar*/
/* puedes customizarlo */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* variables para colores */
:root{
/* colores */
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* tipografia */
--normal:12px;
/* espaciado */
--space:10px;
--space-2:20px;
/* box shadow */
--box:0 0 1px #b4b4b4;
}

/* * */
 html,body{
   /* espaciado que tiene hacia dentro */
   padding: 0px;
   /* merge es el spaciado que tiene hacia fuera */
   margin: 0px;
   /* tamaño de tipografi */
   font-size: var(--normal);
   /* cambiamos la fuente */
   /*este codigo lo sacamos de google fonts*/
   font-family: 'Open Sans', sans-serif;
   background:yellow;
   color: var(--black-color);
 }

 /* asignarle a todos los "p" un tamaño de texto */
 p{
   font-size: var(--normal);
 }

 nav{
   /* colocar horizontalmente  */
   display: flex;
   /* color de fondo */
   background-color: var(--green-color);
   /* agregamos espaciado */
   padding: var(--space);
   /* cambiamos color de texto */
   color: var(--white-color);
   /* separa de uno al otro, lugar al otro del logo vs lista */
   justify-content: space-between;
   /* alinear hacia el cento verticalmente */
   align-items: center;
   /* un achon del 100% */
   /* width: 100%;
   min-height: 60px; */
 }

 nav ul{
   display: flex;
 }

 nav li{
   padding-left: 10px;
   /* quitar los estilos predeterminados de lista */
   list-style: none;
 }

/* a veces hay que ser especificos para quitar algunos estilos predeterminados */
 nav li a{
   color:var(--black-color);
   text-decoration: none;
 }

 /* ahora agregaremos un efecto de cambio de color para el nav */
 nav li a:hover{
   color:var(--white-color);
 }

 hr{
   opacity: .2;
 }

 /* ******************************* main section */

.main_section{
  /* se le agrega un espaciado de 20 porciento */
  padding: 15%;
  /* alineamos al centro */
  text-align: center;
}

.products{
  /* imagen de fondo */
  background-image: url("../images/curve.png");
  /* altura */
  height: 95px;
  /* acupe el tamaño del div que tiene */
  background-size: cover;
  /* alinear hacia el centro y para arriba */
  background-position: center top;
  background-repeat: no-repeat;
  padding: 15%;
  display: flex;
  justify-content: center;
}

.product{
  /* espaciado entreun elemento y otro */
  padding: var(--space-2);
  /* agregar un margen para top, para que la tarjeta suba */
  margin-top: -226px;
}

.product .content{
  background: var(--white-color);
  padding: var(--space);
  /* agregar una sombra a la tarjeta el primero es x el segundo y y el tercero la profundidad */
  /* para calibrar el color usar el inspect en la web */
  box-shadow: var(--box);
  border-radius: 3px;

}

.img_content{
  text-align: center;
}


.main_button{
  background-color: var(--green-color);
  /* paar que ocupe todo el ancho */
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0px;
  /* para color el cursor de manita */
  cursor: pointer;
  /* colocar un borde radius esquinas */
  border-radius: 2px;
}

.main_button:hover{
  background-color: #3f7010;
}

/* ------- reto 2 -------------------------------------*/

/* beneficios ------------------------- */
.beneficios{
 /* altura */
 /* height: 50px; */
 padding: 10%;
 display: flex;
 justify-content: center;
}

.beneficio{
  /* margin-top: -200px;
  width: 200px; */
  padding: 20px;
  text-align: center;
}

.beneficios img{
  max-height: 100px;
}

.text_beneficio{
  text-align: justify;
}

/* menciones ------------------------- */

h2.titulo_menciones{
  text-align:center;
  /* margin-top: 200px; */
}

.menciones{
  justify-content: center;
  display: flex;
  padding: 5%;
}

.mencion{
  padding: var(--space);
}

.img_content_menciones{
  width: 100%;
  margin-top: 0px;
  margin: 0;
}

.menciones img{
width: 100%;
}



.content_mention{
  box-shadow: -1px 1px 20px 0px #b4b4b4;
}

.mencion .text{
  padding: var(--space);
  margin-top: 0px;
}

.text h3{
  margin-top: 0px;
}

.text p{
  margin-bottom: 0px;
}


/* ----------- venta ----------------------------------------*/

.modulo_pago{
 background-color: var(--white-color);
 box-shadow: var(--box);
 padding: var(--space);
}

.col-4 img{
  margin-left: 0px;
  padding: 0px;
}

.modulo_pago_images{
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin: auto;
}





/* footer */

footer{
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--normal);
  padding: var(--space);
  color: var(--white-color);
}

footer a{
  color: var(--white-color);
  list-style: none;
  text-decoration: none;
}
