 html,body{
   /* espaciado que tiene hacia dentro */
   padding: 0px;
   /* merge es el spaciado que tiene hacia fuera */
   margin: 0px;
   /* tamaño de tipografi */
   font-size: 12px;
   /* cambiamos la fuente */
   font-family: monospace;
 }

 nav{
   /* colocar horizontalmente  */
   display: flex;
   /* color de fondo */
   background-color: #7ACC2D;
   /* agregamos espaciado */
   padding: 10px;
   /* cambiamos color de texto */
   color: white;
   /* separa de uno al otro, lugar al otro del logo vs lista */
   justify-content: space-between;
   /* alinear hacia el cento verticalmente */
   align-items: center;
 }
 nav ul{
   display: flex;
 }

 nav li{
   padding-left: 20px;
   /* quitar los estilos predeterminados de lista */
   list-style: none;
 }

/* a veces hay que ser especificos para quitar algunos estilos predeterminados */
 nav li a{
   color:black;
   text-decoration: none;
 }

 /* ahora agregaremos un efecto de cambio de color para el nav */
 nav li a:hover{
   color:white;
 }
